<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic Zone</title>

    <link rel="icon" type="image" href="./../img/favicon.png"/>

    <!-- boostrap CSS -->

    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!--   otro link de css-->

    

    
    <!-- Mi CSS -->

    <link rel="stylesheet" href="./../assets/css/archivo.css">

    
    <!-- RRSS Footer -->
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Mis tipografías -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/faf39d305a.js" crossorigin="anonymous"></script>


</head>


<body>


  <header class="headerProduct">
    
    <div id="formatoNav">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bkgCustom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="./../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./shop.html">Shop</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mangas
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">A-F</a>
                    <a class="dropdown-item" href="#">G-M</a>
                    <a class="dropdown-item" href="#">N-Z</a>
                    <a class="dropdown-item" href="#">Por género</a>
                    <a class="dropdown-item" href="#">Manhwa</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Comics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Merchandising</a>
                </li>                
                <li class="nav-item">
                  <a class="nav-link" href="#">Eventos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contacto</a>
                </li>                
              </ul>     
              <a class="brand" href="./index.html"><img src="./../img/cz05.png" alt=""></a>         
              </div>

              
              <div class="cartBar">
                <ul>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                
                            

                            <!-- START SECTION SHOPPING CART -->
                            <div class="shopping-cart">
                                <div class="container">        
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="shopping-cart-header">
                                                <h6>Producto</h6>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="shopping-cart-header">
                                                <h6 class="">Precio</h6>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="shopping-cart-header">
                                                <h6>Cantidad</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ? START SHOPPING CART ITEMS -->
                                    <div class="shopping-cart-items shoppingCartItemsContainer">
                                        
                                    
                                    </div>
                                    <!-- ? END SHOPPING CART ITEMS -->

                                    <!-- START TOTAL -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="shopping-cart-total d-flex align-items-center">
                                                <p>Total</p>
                                                <p class="shoppingCartTotal">$0</p>
                                                <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                                                    data-delay="2000">
                                                    <div class="toast-header">
                                                        <span>✅</span>
                                                        <strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
                                                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    
                                                </div>
                                                <button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal"
                                                    data-target="#comprarModal">Comprar</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END TOTAL -->

<!--ACA TENGO QUE AGREGAR TIPO POP UP DE QUE RECIBIRA PRODRUVTO O SACARLO PARA PROCESO DE COMPRA-->

                                    <!-- START MODAL COMPRA -->
                                    <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Pronto recibirá su pedido</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END MODAL COMPRA -->


                                </div>

                            </div>
                            <!-- END SECTION SHOPPING CART -->

                        </div>
                    </li>
                
                
                </ul>  
            </div>


            </div><!--linea 54 dropdown-->
            
           
          </nav>
        </div>




        <div id="headersk"> 
            <div class="container-fluid">
                <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <img src="../img/banshop.png" class="d-block w-100" alt="principal">
                </div>
                </div>
            </div>
        </div>
           
    </header>



      

    <section id="primeraProduct"> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <aside></aside>
                    <div id="leftFilter">
                        <div class="titulosarti"><h2>filtros</h2></div>
                                               
                        
                        <br>
                            <h4>Género</h4> 
                            <input type="checkbox" name="genero" id="genero"> Shounen
                            <br>
                            <input type="checkbox" name="genero" id="genero"> Shounen
                            <br>
                            <input type="checkbox" name="genero" id="genero"> Shounen
                            <br> <br>
                            <h4>Editorial</h4>
                            <input type="checkbox" name="genero" id="genero"> IVREA
                            <br>
                            <input type="checkbox" name="genero" id="genero"> Panini
                            <br><br>
                            <h4>Precio</h4>
                            y aca va una linea de max y min $ - ver como se hace
                    </div>
                </div>

         
            
                    <div class="col-md-9">
                        <div id="rightProducts">
                            <div class="titulosarti"><h2>Productos</h2>
                            </div>
                            <hr>

                                <div class="container">           
                                    <div class="row">   
                                
                                     
                                        <div class="col-md-4">
                                            <div class="item">
                                                <div class="card card-product item">
                                                <div class="img-wrap"><img class="item-image" src="../img/p01.png"></div>
                                                <figcaption class="info-wrap">
                                                    <a href="./views/sk01.html"><h4 class="item-title">Shaman King #01</h4></a>            
                                                </figcaption>          
                                                </div>
                                                <div class="text-center">
                                                    <div class="item-price"> $400</div>
                                                    <button class="btn btn-outline-dark addToCart" type="button">AÑADIR AL CARRITO</button> 
                                                </div> 
                                            </div>
                                        </div>

                                   
                                        
                                        
                                    
                                        <div class="col-md-4">
                                            <div class="item">
                                            <div class="card card-product item">
                                            <div class="img-wrap"><img class="item-image" src="../img/p02.png"> </div>
                                            <figcaption class="info-wrap">            
                                                <h4 class="item-title">Bleach #01</h4>            
                                            </figcaption>         
                                            </div>
                                            <div class="text-center">
                                                <div class="item-price"> $450</div> 
                                                <button class="btn btn-outline-dark addToCart" type="button">AÑADIR AL CARRITO</button> 
                                           </div> </div>
                                        </div> <!-- col // -->
                                    
                                        <div class="col-md-4">
                                            <div class="item">
                                            <div class="card card-product item">
                                            <div class="img-wrap"><img class="item-image" src="../img/p03.png"></div>
                                            <figcaption class="info-wrap">
                                                <h4 class="item-title">Jujutsu Kaisen #01</h4>
                                            </figcaption>         
                                            </div>
                                            <div class="text-center">
                                                <div class="item-price"> $500</div>
                                                <button class="btn btn-outline-dark addToCart" type="button">AÑADIR AL CARRITO</button> 
                                           </div> </div>
                                        </div> 
                                    
                                    </div>     
                                </div>   
                                
                                <div class="container">           
                                    <div class="row">   
                                       
                                        <div class="col-md-4">
                                            <div class="item">
                                                <div class="card card-product item">
                                                <div class="img-wrap"><img class="item-image" src="../img/p01.png"></div>
                                                <figcaption class="info-wrap">
                                                    <a href="./views/sk01.html"><h4 class="item-title">Shaman King #01</h4></a>            
                                                </figcaption>          
                                                </div>
                                                <div class="text-center">
                                                    <div class="item-price"> $400</div>
                                                    <button class="btn btn-outline-dark addToCart" type="button">AÑADIR AL CARRITO</button> 
                                                </div> 
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-4">
                                            <div class="item">
                                            <div class="card card-product">
                                            <div class="img-wrap"><img class="item-image" src="../img/p02.png"> </div>
                                            <figcaption class="info-wrap">            
                                                <h4 class="item-title">Bleach #02</h4>            
                                            </figcaption>         
                                            </div>
                                            <div class="text-center">
                                                <div class="item-price"> $600</div>
                                                <button class="btn btn-outline-dark addToCart" type="button">AÑADIR AL CARRITO</button> 
                                           </div> 
                                            </div>
                                        </div> <!-- col // -->
                                    
                                        <div class="col-md-4">
                                            <div class="item">
                                            <div class=" card card-product">
                                            <div class="img-wrap"><img class="item-image" src="../img/p03.png"></div>
                                            <figcaption class="info-wrap">
                                                <h4 class="item-title">Jujutsu Kaisen #02</h4>
                                            </figcaption>         
                                            </div>
                                            <div class="text-center">
                                                <div class="item-price"> $650</div>
                                                 <button class="btn btn-outline-dark addToCart" type="button">AÑADIR AL CARRITO</button> 
                                                </div>
                                                </div> 
                                        </div> 
                                    
                                    </div>     
                                </div>  
                            </div> 
                        </div> 
                    </div> 
                    
                   
        
                </div>
            </div> 

            <div>

            </div>

          </div>
        </div>
    </section>

   


<!-- NO borres!! -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<!-- Mi JS -->

<script src="./../assets/js/archivo.js"></script>    
</body>
</html>